<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url('<%= cl_image_path'vegetables_assort_meiitm.jpg', height: 600, width: 1200, crop: :fill %>')">
  <!-- Tableau -->
  <h2 class = "mb-5 text-center"> Récapitulatif de commande </h2>
  <div id= tableau-recap class="container">
  <div>
    <table class="table table text-center" id="table-modal-shopping-basket">
      <thead>
        <th scope="col"></th>
        <th scope="col">Nom du panier</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix unitaire</th>
         <th scope="col">Total</th>
    </thead>
    <% total_price = 0 %>
    <% current_user.cart.cart_items.each do |cart_itemem| %>
      <tbody>
        <tr data-cart-item-id="<%= cart_itemem.id %>">
           <td></td>
           <td><%= cart_itemem.package.name %></td>
           <td><%= cart_itemem.quantity  %></td>
           <td><%= cart_itemem.package.price %> €</td>
            <% price_per_panier = cart_itemem.package.price * cart_itemem.quantity %>
           <td><%= price_per_panier %> €</td>
           <td><%= link_to cart_item_path(cart_itemem), method: :delete, remote: true do %>
              <i class="fa fa-trash destroy_package_cart_item"></i></td>
              <% end %>
         </tr>
         <% total_price += price_per_panier %>
      </tbody>
    <% end %>
  </table>
 </div>

            </div>
            <!-- Ici c'est le form -->
            <br>
            <br>
  <h2 class = "mb-5 text-center"> Quand souhaitez-vous récupérer votre commande ? </h2>
  <div class="container">
    <div class="form-wrapper" id= "form" id= "order_address_start">
      <%= simple_form_for @order, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>


        <%= f.input :day, as: :string, placeholder: "Choisir une date", label: "Quel jour récupèrerez-vous votre commande ?", required: true, input_html: {class: "datepicker"} %>
        <%= f.input :time_start, as: :string, placeholder: "De : 15h00", label: "A partir de quelle heure ?", required: true, input_html: {class: "timepicker"}, wrapper_html: {class: "schedule-input ml-1"} %>
        <%= f.input :time_end, as: :string, placeholder: "A : 17h00", label: "Jusqu'à quelle heure ?", required: true, input_html: {class: "timepicker"}, wrapper_html: {class: "schedule-input ml-1 mr-1"} %>
        <%= f.input :address_start, as: :string, label: "Quelle est votre adresse ?", required: true, placeholder: "16 villa gaudelet" %>
        <%= f.button :submit, "Valider", class: "btn btn-lg btn-flat-home ml-4" %>
      <% end %>
    </div>
  </div>
          </div>
        </div>
      </div>
<!-- End Modal de Cart -->
</div>
