 <div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path'vegetables_assort_meiitm.jpg', height: 600, width: 1200, crop: :fill %>')">
<h2 class = "mb-5 text-center"> Quand souhaitez vous récupérer vôtre commande ? </h2>
<div class="container">
  <div class="form-wrapper" style="width: 500px; margin: 0 auto;color: white; font-weight: bold">
      <%= simple_form_for @order do |f| %>
        <%= f.input :day, as: :string, label: "Quel jour récupèreras-tu ta commande ?", required: true, input_html: {class: "datepicker"} %>
        <%= f.input :time_start, as: :string, label: "A partir de quelle heure ?", required: true, input_html: {class: "timepicker"} %>
        <%= f.input :time_end, as: :string, label: "Jusqu'à quelle heure ?", required: true, input_html: {class: "timepicker"} %>
        <%= f.input :address, as: :string, label: "Quelle est ton adresse ?", required: true, placeholder: "16 villa gaudelet" %>
      </div>
  </div>
<div class="container form-wrapper" style="text-align: center; padding: 20px">
  <%= f.button :submit, "Valider", class: "btn btn-lg btn-flat-home px-5 mt-1" %>
  <% end %>
  </div>
</div>
