<div id="banner-index-packages" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path'http://res.cloudinary.com/dhf3phkaa/image/upload/v1567155701/jjedbku3hfd6vgwyc4ah.jpg', height: 800, width: 1200, crop: :fill %>')">
    <h1 class="text-center" id="title-index-packages">Vos Achats</h1>
  </div>
<div class="container mt-2">
  <div class="flex-dashboard">

    <div class="row" >
      <div class="col-md-2"> </div>
      <div class="col-md-8 mt-2 justify-content-center" >
        <table id="cart" class="table table-hover">
          <thead>
            <tr>
              <th style="width:80%"><h5><strong>Description </strong></h5></th>
              <th style="width:20%"><h5><strong>Prix</strong></h5></th>
              <th style="width:11%"><h5><strong>Statut</strong></h5></th>
            </tr>
          </thead>
          <% @myorders.each do |order| %>
          <%= form_tag order_payments_path(order) do %>
          <tbody>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-3 hidden-xs"><%= cl_image_tag order.cart.cart_items.first.package.photo, height: 70 %></div>
                  <div class="col-sm-8 ml-3">
                    <p><ins>Numéro de commande: <strong style="color: #82AE46"><%= order.id %></ins></strong></hp>
                    <p> Livrasion: le <strong><%= l(order.day, format: '%d %B %Y', locale: 'fr') %><br></strong> Entre <strong><%= order.time_start.strftime("%H:%M") %> et <%= order.time_end.strftime("%H:%M") %></strong> <br> Près de: <strong><%= order.address%></strong></p>
                  </div>
                </div>
              </td>
              <td data-th="Price">
                <div class="mt-5">
                <strong><%= humanized_money_with_symbol(order.amount) %></strong>
                </div>
              </td>
              <td data-th="Price">
                <div class="mt-5"><strong style="color: #19AAEE; text-transform: capitalize"><%= order.status %></strong>
    <div class="description">
      <h3>Récapitulatif</h3>
      <ul>
        <p>Adresse de livraison</p>
        <p>Adresse de livraison</p>
        <p>Nom du panier</p>
                </div>
                <p class="inline btn btn-success btn-sm mt-3"><%= link_to "Détails", order_path(order) %></p>
              </td>
            </tr>
          </tbody>
          <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
