<div class="container" >
  <% @myorders.each do |order| %>
    <section class="product">
      <div class="photo-produit-dashboard">
        <div class="photo-container">
          <div class="fond-vert">
            <div class="controls">
            </div>
            <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png" alt="La photo du premier panier"> <!-- Ici on doit décider pour les photos qu'on met-->
          </div>
        </div>
      </div>
      <div class="product__info">
        <div class="title">
          <h1>Numéro de commande : <%= order.id %></h1>
        </div>
        <div class="description">
          <h3 class="order-status">Etat de commande : <strong><%= order.status%></strong></h3> <!-- Ici il faut regarder comment changer la color du texte en fonction de if :-->
          <p><u><strong>Votre commande sera livré à côté de :  </strong></u></p>
          <p><mark><%= order.address%></mark></p> <!-- Ici il faut split l'adresse à la virgule -->
          <p>-Vous devrez la retirer le <mark><%= order.day.strftime("%-d %B %Y") %></mark></p>
          <p>-Votre créneau horraire choisi : De <mark><%= order.time_start.strftime("%Hh%M") %> à <%= order.time_end.strftime("%Hh%M") %></mark>
          </p>
          <p>Vous recevrez le détail de la commande par sms et par mail.</p>
          <div class="price">
            <span class ="price"><%= order.amount_cents / 100 %> €</span>
          </div>
        </div>
        <p class="lead"><%= link_to "Détail de la commande", root_path, class: "btn-retour" %></p> <!-- Ici il faut modifier le root pour remettre vers la show mais le order_path marche pas, remarque : il y a uneroute et on est dans une boucle -->
      </div>
    </section>
    <% end %>
  </div>
