
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner div-text-carrousel">
    <div class="text-center text-carrousel">
      <h1><strong>Proxy Rungis</strong></h1>
      <br>
      <h3>
        <br>
        <strong>Des fruits et légumes de qualité, pas cher, juste en bas de chez toi!</strong>
      </h3>
      <br>
      <br>
      <br>
      <div class="btn btn-lg btn-flat-home p-3 mt-5"> <%= link_to "VOIR NOS PRODUITS", packages_path %></div>
    </div>


     <div class="carousel-item active">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path'vegetables_assort_meiitm.jpg', height: 600, width: 1200, crop: :fill %>')">
        </div>
     </div>
     <div class="carousel-item">
       <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path'ont5vs0mos0zbyhbkzi6.jpg', height: 600, width: 1200, crop: :fill %>')">

       </div>
     </div>
     <div class="carousel-item">
       <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path'sogf4wdf6efidnfa5cki.jpg', height: 600, width: 1200, crop: :fill %>')">
       </div>
     </div>
   </div>
</div>

<br>
<br>

</div>

<div class="container" >
        <div class="row no-gutters ftco-services"; data-aos="fade-up">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2"; style = "background:#E4B2D6">
                <i class="fas fa-seedling fa-3x" style="color: white"></i>
              </div>
              <div class="media-body">
                <h3 class="heading">Livraison gratuite</h3>
                <span>Sur commande plus de 100 €</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2"; style = "background: #FDAD75">
                <i class="fas fa-seedling fa-3x" style="color: white"></i>
              </div>
              <div class="media-body">
                <h3 class="heading">Toujours frais</h3>
                <span>Produit bien paquet</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services mb-md-0 mb-4">
               <div class="icon d-flex justify-content-center align-items-center mb-2"; style = "background: #A2D1E1">
                <i class="fas fa-seedling fa-3x" style="color: white"></i>
              </div>
              <div class="media-body">
                <h3 class="heading">Qualité supérieure</h3>
                <span>Produits de qualité</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon d-flex justify-content-center align-items-center mb-2"; style = "background: #C2D771">
                <i class="fas fa-seedling fa-3x" style="color: white"></i>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>


<div class="container mt-5" >
<div class="card-deck">
  <div class="card">
    <div class="card-img-top not-hero", style="background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('<%= cl_image_path'product-3_cajnd3.jpg', height: 280, width: 330, crop: :thumb %>')">
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-seedling", style="color: #82AE46"></i> Frais</h4>
          <h5 class="card-text mt-5 text-center"></h5>
          <br>
          <br>
          <br>
          <br>
          <h5 class="card-text mt-5">Manger des fruits et légumes <strong> frais</strong> n'a jamais été aussi <strong>simple!</strong></h5>
        </div>
    </div>
</div>
  <div class="card">
    <div class="card-img-top", style="background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('<%= cl_image_path'product-6_gx117p.jpg', height: 300, width: 330, crop: :thumb %>')">
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-seedling", style="color: #82AE46"></i> Top qualité</h4>
          <h5 class="card-text mt-5 text-center"></h5>
          <br>
          <br>
          <br>
          <br>
          <h5 class="card-text mt-5">Des fruits et légumes <strong>de qualité, pas cher, juste en bas de chez toi !</strong></h5>

        </div>
    </div>
</div>
  <div class="card">
    <div class="card-img-top not-hero", style="background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('<%= cl_image_path'product-7_sacypb.jpg', height: 280, width: 320, crop: :thumb %>')">
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-seedling", style="color: #82AE46"></i> Rapide</h4>
          <h5 class="card-text mt-5 text-center"></h5>
          <br>
          <br>
          <br>
          <br>
          <h5 class="card-text mt-5">C'est le bon plan <strong>rapide et sans prise de tête!</strong></h5>
        </div>
    </div>
</div>

</div>

<div class ="container mt-5 center">
  <br>
  <br>
  <h3 style="text-transform: uppercase"><strong style="color: #82AE46"> Comment ça marche?</strong></h3>
  <br>
  <br>

  <br>
   <div style="width: 1100px">
    <h3><i class="fas fa-seedling mr-3", style="color: #82AE46"></i> <strong>Je choisis </strong>mon panier de saison.</h3>
    <br>
    <h3><i class="fas fa-seedling mr-3", style="color: #82AE46"></i> <strong>Vous indiquez</strong> où vous habitez, et quand vous voulez récupérer le panier.</h3>
    <br>
    <h3><i class="fas fa-seedling mr-3", style="color: #82AE46"></i> <strong> Vous récupérerez </strong> votre panier frais à l'endroit convenu.</h3>
   </div>
  <br>
  <br>
  <br>
  <br>


<div class = "text-center">
  <i class="fas fa-carrot mr-5" style='font-size:53px; color:#FDAD75'></i>
  <i class="fas fa-plus mr-5" style='font-size:48px'></i>

  <i class='fas fa-truck mr-5' style='font-size:48px; color:#A2D1E1'></i>

  <i class='fas fa-equals mr-5' style='font-size:48px'></i>

  <i class="fas fa-shopping-cart mr-5" style='font-size:48px; color:#82AE46'></i>
   <br>
<br>
</div>

  <br>
  <br>
  <br>
  <br>
  <h3 style="text-transform: uppercase"><strong style="color: #82AE46"> Nos valeurs: </strong></h3>
  <br>

    <div class="container">
      <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" >

          <div class="box-part text-center"  style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)"><i class="fas fa-atom fa-3x mb-3" ; style="color: #82AE46"></i>

            <div class="title"><h4>Notre astuce</h4>
            </div>

            <div class="text px-3">
              <span>Grâce à une solution innovante et technologique nous pouvons réduire ses coûts de manière à se focaliser sur la qualité des aliments.</span>
            </div>

           </div>
        </div>

         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

          <div class="box-part text-center" style=" box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">

            <i class="fas fa-bullseye fa-3x mb-3"; style="color: #82AE46"></i>

            <div class="title">
              <h4>Notre mission</h4>
            </div>

            <div class="text px-3">
              <span>Notre mission, c'est de vous proposer des fruits et légumes toujours meilleurs, toujours moins cher et toujours plus proche de chez vous.</span>
            </div>
            </div>
        </div>

         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

          <div class="box-part text-center" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">

             <i class="fab fa-leanpub fa-3x mb-3"; style="color: #82AE46"></i>

            <div class="title">
              <h4>Notre philosophie</h4>
            </div>

            <div class="text">
              <span>Nous travaillons avec les meilleurs producteurs de Rungis afin de vous proposer tous les jours des produits frais et de qualité à un prix raisonnable </span>
              <br>
            </div>

           </div>
        </div>

        </div>

    </div>


  <br>
  <h3 style="text-transform: uppercase"><strong style ="color: #82AE46"> Qui sommes-nous ?</strong></h3>

  <br>
  <h4 style="color: gray">Nous sommes 4 développeurs parisiens en quête de fruits et légumes de qualité.</h4>
  <br>

  </div>

  <div class ="container mt-5">
    <!-- Grid row -->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">
        <!--Background color-->
        <div class="card-up info-color card-person">
        <!--Avatar-->
      <div class="avatar-largee mx-auto white mt-2">
          <%= cl_image_tag("cricri_nrhylk.png", class: "rounded-circle img-fluid")%>


        </div>
      </div>
        <div class="card-body mt-3">
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Christophe B.</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet eos
            adipisci, consectetur adipisicing elit.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">
        <!--Background color-->
        <div class="card-up blue-gradient card-person">

        <!--Avatar-->
        <div class="avatar-largee mx-auto white mt-2">
          <%= cl_image_tag("goti_rz0xu6.png", class: "rounded-circle img-fluid")%>

        </div></div>
        <div class="card-body mt-3">
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">  Gauthier H.</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>Neque cupiditate assumenda in
            maiores repudiandae mollitia architecto.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">
        <!--Background color-->
        <div class="card-up blue-gradient card-person">

        <!--Avatar-->
        <div class="avatar-largee mx-auto white mt-2">
          <%= cl_image_tag("cont_h8sgxz.png", class: "rounded-circle img-fluid")%>

        </div></div>
        <div class="card-body mt-3">
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Quentin D.</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>Neque cupiditate assumenda in
            maiores repudiandae mollitia architecto.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
    <div class="col-lg-3 col-md-12 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)">
        <!--Background color-->
        <div class="card-up blue-gradient card-person">

        <!--Avatar-->
        <div class="avatar-largee mx-auto white mt-2">
          <%= cl_image_tag("ol_me3iho.png", class: "rounded-circle img-fluid")%>

        </div></div>
        <div class="card-body mt-3">
          <!--Name-->
          <h4 class="font-weight-bold mb-4 text-center">Olesya O.</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>Neque cupiditate assumenda in
            maiores repudiandae mollitia architecto.</p>
        </div>
      </div>
      <!--Card-->
    </div>
  </div>
  </div>
  <!-- Grid row -->
</div>
  <br>
  <br>
  <br>
  <br>




