
<div class="container mt-2">
  <div class="row" >
    <div class="col-md-8 mt-4" >
    <%= form_tag order_payments_path(@order) do %>
      <div class="container">
        <table id="cart" class="table table-hover">
          <thead>
            <tr>
              <th style="width:40%"><h5><strong>Produits</strong></h5></th>
              <th style="width:11%"><h5><strong>Prix</strong></h5></th>
            </tr>
          </thead>
          <tbody>
          <% current_user.cart.cart_items.each do |item| %>
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-3 hidden-xs"><%= cl_image_tag item.package.photo, height: 70 %></div>
                  <div class="col-sm-8 ml-3">
                    <h5 class=""><%= item.package.name%></h5>
                    <p><%= item.package.description%></p>
                  </div>
                </div>
              </td>
              <td data-th="Price">
                <div class="mt-5">
                <%= item.package.price %> € x <%=item.quantity %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
            <tr><td ></td>
              <td class="hidden-xs"><strong>TOTAL: <%= humanized_money_with_symbol(@order.amount) %></strong></td></tr>
            <tr>
              <td style="color: #82AE46"><ins><%= link_to "Continuer les achats", packages_path %></ins></td>
              <td> <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                 data-label="Payer par carte"
                 data-name="Votre paiement"
                 data-email="<%= current_user.email %>"
                 data-description="Commande <%= current_user.cart.id %>"
                 data-amount="<%= @order.amount_cents %>"
                 data-currency="<%= @order.amount.currency %>">
               </script></td>
            </tr>
          </tfoot>
        </table>
      </div>
    <% end %>
<div data-aos="zoom-in-up" data-aos-duration= "1000">
    <div class="container">
  <div class="ml-2 mt-4 mb-4"
  id="map"
  data-markers="<%= @markers.to_json %>";
  data-markers-address="<%= @markers_address.to_json %>";
  data-steps="<%= @steps.to_json %>";
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>";
  data-center="<%= @center  %>">
  </div>
</div>
    </div>
</div>
    <div class="col-md-4" id="cart-table-st">

      <div class="card-category content mt-2 pt-2 pb-2" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%=  cl_image_path'fruit_basket_dfayvi.webp' %>'); height: 400px">
        <p><strong class ="content">Lieu de livraison : <%= @order.restaurant.name %> (<%= @order.restaurant.address%>)
        <br><br>le <%= l(@order.day, format: '%d %B %Y', locale: 'fr') %><br>entre <%= @order.time_start.strftime("%H:%M") %> et <%= @order.time_end.strftime("%H:%M") %></strong>.</p>
      </div>
      </div>

</div>

