<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="cards-index">
   <div class="row" >
<div class="col-md-6" >
<%= form_tag order_payments_path(@order) do %>
<h3 class ="offset-5"><strong>Check-Out</strong></h3>
<div class="container", style="width:750px">
 <table id="cart" class="table table-hover ">
           <thead>
           <tr>
             <th style="width:40%"><h4>Product</h4></th>
             <th style="width:11%"><h4>Price</h4></th>
             <th style="width:3%"></th>
           </tr>
         </thead>
         <tbody>
          <% current_user.cart.cart_items.each do |item| %>
           <tr>
             <td data-th="Product">
               <div class="row">
                   <div class="col-sm-2 hidden-xs"><%= cl_image_tag item.package.photo, class: "img-responsive" %></div>
                   <div class="col-sm-10">
                     <h4 class=""><%= item.package.name%></h4>
                     <p><%= item.package.description%></p>
                   </div>
                 </div>
                 </td>
                 <td data-th="Price"><%= item.package.price%> €</td>
               </div>
               </td>
             </tr>
           <% end %>
         </tbody>
         <tfoot>
           <tr>
             <td><%= link_to "Continue Shopping", packages_path, class: "btn btn-warning" %></td>
             <td class="hidden-xs"><strong>TOTAL: <%= humanized_money_with_symbol(@order.amount) %></strong></td>
               <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                 data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                 data-name="My Purchase"
                 data-email="<%= current_user.email %>"
                 data-description="Basket <%= current_user.cart.id %>"
                 data-amount="<%= @order.amount_cents %>"
                 data-currency="<%= @order.amount.currency %>">
               </script>
            </tr>
         </tfoot>
       </table>
</div>
<% end %>
</div>
<div class="col-md-4" id="cart-table">
    <h4>Vous serez livré à moins de 500m de : <%= @order.address %> #address le #date entre #horraire start et le #horraire end</h4>
</div>
   </div>
</div>
